body{
    background-color: rgb(179, 245, 235);
}
.header_div {
    width: 98%;
    margin-left: 1%;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgb(106, 145, 139);
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: white;
    text-shadow: 5px 5px 10px black;
}